<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uulm.mal.fancyquartett">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- GAME ACTIVITY -->
        <activity
            android:name=".activities.GameActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <!-- CARD GALLERY ACTIVITY -->
        <activity
            android:name=".activities.CardGalleryActivity"
            android:label="@string/title_gallery"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uulm.mal.fancyquartett.activities.MainActivity" />
        </activity>
        <!-- NEW GAME SETTINGS ACTIVITY -->
        <activity
            android:name=".activities.NewGameSettingsActivity"
            android:label="@string/title_new_game"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"/>
        <!-- NEW GAME GALLERY ACTIVITY -->
        <activity
            android:name=".activities.NewGameGalleryActivity"
            android:label="@string/title_gallery_select"
            android:parentActivityName=".activities.NewGameSettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uulm.mal.fancyquartett.activities.NewGameSettingsActivity" />
        </activity>
        <!-- CARD VIEWER ACTIVITY -->
        <!-- TODO: may user carddeck name as title/lable -->
        <activity
            android:name=".activities.CardViewerActivity"
            android:label="@string/title_activity_card_detail_viewer"
            android:parentActivityName=".activities.CardGalleryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uulm.mal.fancyquartett.activities.CardGalleryActivity" />
        </activity>
        <!-- SETTINGS ACTIVITY -->
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uulm.mal.fancyquartett.activities.MainActivity" />
        </activity>

    </application>

</manifest>
